<?xml version="1.0"?>
<email xmlns="http://christoph-hautzinger.de/schema/system-mail-bundle"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://christoph-hautzinger.de/schema/system-mail-bundle http://christoph-hautzinger.de/schema/system-mail-bundle/email-1.0.xsd">
  <to name="{{ admin_name }}">{{ admin_email }}</to>
  <subject locale="en">New comment by {{ comment.author }}</subject>
  <subject locale="es">Nuevo comentario de {{ comment.author }}</subject>
  <messageHtml locale="en">
    <![CDATA[
    <p>There is a new comment by {{ comment.author }},
    <a href="
      {{ url('post', {'slug': post.slug, '_fragment': 'comment-' ~ comment.id }) }}
    ">please, check it out</a>.</p>
    <p>{{ comment.comment }}</p>
    ]]></messageHtml>
  <messageHtml locale="es">
    <![CDATA[
    <p>Hay un nuevo comentario de {{ comment.author }},
    <a href="
      {{ url('post', { 'slug': post.slug, '_fragment': 'comment-' ~ comment.id }) }}
    ">por favor, revísalo</a>.</p>
    <p>{{ comment.comment }}</p>
    ]]></messageHtml>
</email>
