<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no,
        initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Test page!{% endblock %}</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body id="{% block body_id %}{% endblock %}">
        <header>
            <div class="languages">
                <ul class="languages__lang-menu">
                    {% for locale in locales() %}
                        <li {% if app.request.locale == locale.code %}aria-checked="true" class="languages__lang-menu--active"
                        {% else %}aria-checked="false"{% endif %} role="menuitem">
                        <a href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">
                        {{ locale.name|capitalize }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </header>
        {% block body %}{% endblock %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    </body>
</html>
