<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no,
          initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}SargantanaCode{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/main.css') }}">
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}"/>
    {% block meta %}{% endblock %}
  </head>
  <body id="{% block body_id %}{% endblock %}">
    {% include('_header.html.twig') %}
    {% block body %}{% endblock %}
    {% include('_footer.html.twig') %}
    <script src="{{ asset('js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/js.js') }}"></script>
  </body>
</html>
