{% extends 'base.html.twig' %}

{% block title %}
  {{ 'ADMIN_PANEL_TITLE'|trans }} — {{ 'TITLE'|trans }}
{% endblock %}

{% block body_id "admin" %}

{% block body %}
  <div class="container mt-5 page">
    {% if posts %}
    <div class="content">
      <h2 class="text-center mb-4">{{ 'LAST_FIVE_POSTS_TITLE'|trans }}</h2>
      {% include('admin/posts/_post-list.html.twig') %}
    </div>
    {% endif %}
    {% if comments %}
      <div class="content mt-4">
        <h2 class="text-center mb-4">{{ 'LAST_FIVE_COMMENTS_TITLE'|trans }}</h2>
        {% include('admin/comments/_comments-list.html.twig') %}
      </div>
    {% endif %}
    {% if drafts %}
      {% set posts = drafts %}
      <div class="content mt-4">
        <h2 class="text-center mb-4">{{ 'LAST_FIVE_DRAFTS_TITLE'|trans }}</h2>
        {% include('admin/posts/_post-list.html.twig') %}
      </div>
    {% endif %}
    {% if views %}
      {% set posts = views %}
      <div class="content mt-4">
        <h2 class="text-center mb-4">{{ 'LAST_FIVE_MOST_VIEWS_TITLE'|trans }}</h2>
        {% include('admin/posts/_post-list.html.twig') %}
      </div>
    {% endif %}
    {% if commentCount %}
      {% set posts = commentCount %}
      <div class="content mt-4">
        <h2 class="text-center mb-4">{{ 'LAST_FIVE_MOST_COMMENTED_TITLE'|trans }}</h2>
        {% include('admin/posts/_post-list.html.twig') %}
      </div>
    {% endif %}
  </div>
{% endblock %}
