{% extends 'base.html.twig' %}

{% block body_id "admin-users" %}

{% block body %}
  <div class="container mt-5 page">
    <div class="content">
      {% for message in app.session.flashbag().get('status') %}
        <div class="alert alert-info" role="alert">
          {{ message|trans }}
        </div>
      {% endfor %}
      <h2 class="text-center mb-4">{{ 'USERS_TITLE'|trans }}</h2>
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="text-center">
            {{ 'USERS_ITEM_NAME'|trans }}
          </th>
          <th class="d-none d-sm-table-cell text-center">
            {{ 'USERS_ITEM_ROLES'|trans }}
          </th>
          <th class="text-center">
            {{ 'USERS_ITEM_ACTIONS'|trans }}
          </th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
          <tr>
            <td class="text-center">
              {{ user.name }}
            </td>
            <td class="d-none d-sm-table-cell text-center">
              {{ user.roles|join(', ')|trans }}
            </td>
            <td class="text-center">
              <a href="#"
                 class="btn btn-sm btn-info text-center">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
              <a href="#"
                 class="btn btn-sm btn-primary text-center">
                <i class="fa fa-edit"
                   aria-hidden="true"></i>
              </a>
              {% if not has_content(user.id) and user.username != app.user.username %}
                <a href="#"
                   class="btn btn-sm btn-danger text-center">
                  <i class="fa fa-remove"
                     aria-hidden="true"></i>
                </a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
