<ul class="no-padding">
  {% for comment in comments %}
    <li>
      <div class="content comment mb-2" id="{{ 'comment-' ~ comment.id }}">
        <div class="comment__avatar">
          <img src="{{ gravatar( comment.email ) }}"
               alt="{{ comment.author }}"/>
        </div>
        <div class="comment__content">
          <div class="comment__header">
            {% if comment.url %}
              <a href="{{ comment.url }}"><h2>{{ comment.author }}</h2></a>
            {% else %}
              <h2>{{ comment.author }}</h2>
            {% endif %}
            <small>{{ comment.date|date('d/m/Y') }}</small>
          </div>
          {{ comment.comment|md2html }}
          <div class="comment__reply">
            <a class="btn btn-sm btn-primary text-center reply-button"
               id="{{ comment.id }}">
              <i class="fa fa-reply" aria-hidden="true"></i>
            </a>
            <a
              class="btn btn-sm btn-danger text-center hidden"
              id="{{ 'cancel-reply-' ~ comment.id }}">
              <i class="fa fa-remove" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      {{ render(controller('AppBundle:Public:getCommentChild', {
        'id': comment.id
      })) }}
    </li>
  {% endfor %}
</ul>
