<div class="row mt-5">
  {% for post in posts %}
    <div class="col-md-6 mb-4">
      <div class="list">
        <a href="{{ path('post', { 'slug': post.slug }) }}">
          <span class="date-badge">{{ post.date|date("d/m/Y") }}</span>
          <span class="category-badge">
            {% if app.request.locale == 'es' %}
              {{ post.category.nameEs }}
            {% else %}
              {{ post.category.nameEn }}
            {% endif %}
          </span>
          {% if post.image is not null %}
            {% if app.request.locale == 'es' %}
              <img src="{{ asset( 'uploads/' ~ post.image ) }}"
                   alt="{{ post.titleEs }}">
            {% else %}
              <img src="{{ asset( 'uploads/' ~ post.image ) }}"
                   alt="{{ post.titleEn }}">
            {% endif %}
          {% endif %}
          <div class="list__content">
            <h4 class="list__title">
              {% if app.request.locale == 'es' %}
                {{ post.titleEs }}
              {% else %}
                {{ post.titleEn }}
              {% endif %}
            </h4>
            <p class="list__text">
              {% if app.request.locale == 'es' %}
                {{ post.excerptEs }}
              {% else %}
                {{ post.excerptEn }}
              {% endif %}
            </p>
          </div>
        </a>
      </div>
    </div>
  {% endfor %}
</div>
