{% extends 'base.html.twig' %}

{% block title %}
  {% if app.request.locale == 'es' %}
    {{ category.nameEs }} — {{ 'TITLE'|trans }}
  {% else %}
    {{ category.nameEn }} — {{ 'TITLE'|trans }}
  {% endif %}
{% endblock %}

{% block meta %}
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@SargantanaCode"/>
  <meta name="twitter:creator" content="@fjpalacios"/>
  <meta property="og:url"
        content="{{ url('category', {'slug': category.slug }) }}"/>
  {% if app.request.locale == 'es' %}
    <meta property="og:title" content="{{ category.nameEs }} — SargantanaCode"/>
    <meta property="og:description" content="{{ category.descriptionEs }}"/>
    <meta name="description" content="{{ category.descriptionEs }}"/>
  {% else %}
    <meta property="og:title" content="{{ category.nameEn }} — SargantanaCode"/>
    <meta property="og:description" content="{{ category.descriptionEn }}"/>
    <meta name="description" content="{{ category.descriptionEn }}"/>
  {% endif %}
  <meta property="og:site_name" content="SargantanaCode"/>
  <meta property="article:author"
        content="https://www.facebook.com/sargantanacode/"/>
  <meta property="fb:admins" content="826302220"/>
  <meta property="og:type" content="article"/>
  {% if category.image is not null %}
    <meta property="og:image"
          content="{{ app.request.getSchemeAndHttpHost() ~ asset( '/uploads/' ~ category.image ) }}"/>
  {% else %}
    <meta property="og:image"
          content="{{ app.request.getSchemeAndHttpHost() ~ asset( '/uploads/default.jpg') }}"/>
  {% endif %}
{% endblock %}

{% block body_id "categories" %}

{% block body %}
  <div class="container mt-5 page">
    <div class="content category">
      {% if category.image is not null %}
        <div class="category__avatar">
          {% if app.request.locale == 'es' %}
            <img src="{{ asset( 'uploads/' ~ category.image ) }}"
                 alt="{{ category.nameEs }}">
          {% else %}
            <img src="{{ asset( 'uploads/' ~ category.image ) }}"
                 alt="{{ category.nameEn }}">
          {% endif %}
        </div>
      {% endif %}
      <div class="category__desc">
        <h2>
          {% if app.request.locale == 'es' %}
            {{ category.nameEs }}
          {% else %}
            {{ category.nameEn }}
          {% endif %}
        </h2>
        {% if app.request.locale == 'es' %}
          {{ category.descriptionEs }}
        {% else %}
          {{ category.descriptionEn }}
        {% endif %}
      </div>
    </div>
    {% include('public/_content.html.twig') %}
    {% if totalItems > constant('AppBundle\\Entity\\Post::NUM_ITEMS') %}
      {% include('_pagination.html.twig') %}
    {% endif %}
  </div>
{% endblock %}
