{% extends 'base.html.twig' %}

{% block body_id "public" %}

{% block body %}
    <div class="container mt-5 page">
        {% for post in posts %}
            {% if post.status == 'publish' %}
                <h2 class="h3">
                    <a href="{{ path('post', { 'slug': post.slug }) }}">
                        {% if app.request.locale == 'es' %}
                            {{ post.titleEs }}
                        {% else %}
                            {{ post.titleEn }}
                        {% endif %}
                    </a>
                </h2>
                <div class="content">
                    {% if app.request.locale == 'es' %}
                        {{ post.contentEs|md2html }}
                    {% else %}
                        {{ post.contentEn|md2html }}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
