<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0"
     xmlns:content="http://purl.org/rss/1.0/modules/content/"
     xmlns:atom="http://www.w3.org/2005/Atom"
     xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title>{{ 'TITLE'|trans }}</title>
    <description>{{ 'DESC'|trans }}</description>
    <pubDate>{{ 'now'|date('r', timezone='GMT') }}</pubDate>
    <lastBuildDate>{{ (posts|first).date|default('now')|date('r', timezone='GMT') }}</lastBuildDate>
    <link>{{ url('home') }}</link>
    <atom:link href="{{ url('rss') }}" rel="self" type="application/rss+xml" />
    <language>{{ app.request.locale }}</language>
    {% for post in posts %}
      <item>
        {% if app.request.locale == 'es' %}
          <title>{{ post.titleEs }}</title>
          <description>{{ post.excerptEs }}</description>
          <content:encoded>
            <![CDATA[<img src="{{ app.request.getSchemeAndHttpHost() ~ asset( '/uploads/' ~ post.image ) }}" alt="{{ post.titleEs }}" />
            {{ post.contentEs|raw|md2html }}]]>
            {% if post.course %}
              {% set previous = course_previous(post.id, post.course) %}
              {% set next = course_next(post.id, post.course) %}
              {% if previous or next %}
                <h3>{{ 'COURSE_HEADER'|trans }}</h3>
                {{ 'COURSE_INFO'|trans({
                  '%courselink_start%': '<a href="'~path('course', {'slug': course_slug(post.course)})~'">',
                  '%course%': course_name(post.course, app.request.locale),
                  '%link_end%': '</a>'})|raw }}
                {% if previous and next %}
                  {{ 'COURSE_INFO_PREVIOUS_NEXT'|trans({
                    '%previouslink_start%': '<a href="'~path('post', {'slug': previous['slug']})~'">',
                    '%nextlink_start%': '<a href="'~path('post', {'slug': next['slug']})~'">',
                    '%previouscourse%': previous['titleEs'],
                    '%nextcourse%': next['titleEs'],
                    '%link_end%': '</a>'})|raw }}
                {% elseif previous and not next %}
                  {{ 'COURSE_INFO_PREVIOUS'|trans({
                    '%courselink_start%': '<a href="'~path('post', {'slug': previous['slug']})~'">',
                    '%course%': previous['titleEs'],
                    '%link_end%': '</a>'})|raw }}
                {% else %}
                  {{ 'COURSE_INFO_NEXT'|trans({
                    '%courselink_start%': '<a href="'~path('post', {'slug': next['slug']})~'">',
                    '%course%': next['titleEs'],
                    '%link_end%': '</a>'})|raw }}
                {% endif %}
              {% endif %}
            {% endif %}
          </content:encoded>
          <category>{{ post.category.nameEs }}</category>
        {% else %}
          <title>{{ post.titleEn }}</title>
          <description>{{ post.excerptEn }}</description>
          <content:encoded>
            <![CDATA[<img src="{{ app.request.getSchemeAndHttpHost() ~ asset( '/uploads/' ~ post.image ) }}" alt="{{ post.titleEn }}" />
            {{ post.contentEn|raw|md2html }}]]>
            {% if post.course %}
              {% set previous = course_previous(post.id, post.course) %}
              {% set next = course_next(post.id, post.course) %}
              {% if previous or next %}
                <h3>{{ 'COURSE_HEADER'|trans }}</h3>
                {{ 'COURSE_INFO'|trans({
                  '%courselink_start%': '<a href="'~path('course', {'slug': course_slug(post.course)})~'">',
                  '%course%': course_name(post.course, app.request.locale),
                  '%link_end%': '</a>'})|raw }}
                {% if previous and next %}
                  {{ 'COURSE_INFO_PREVIOUS_NEXT'|trans({
                    '%previouslink_start%': '<a href="'~path('post', {'slug': previous['slug']})~'">',
                    '%nextlink_start%': '<a href="'~path('post', {'slug': next['slug']})~'">',
                    '%previouscourse%': previous['titleEn'],
                    '%nextcourse%': next['titleEn'],
                    '%link_end%': '</a>'})|raw }}
                {% elseif previous and not next %}
                  {{ 'COURSE_INFO_PREVIOUS'|trans({
                    '%courselink_start%': '<a href="'~path('post', {'slug': previous['slug']})~'">',
                    '%course%': previous['titleEn'],
                    '%link_end%': '</a>'})|raw }}
                {% else %}
                  {{ 'COURSE_INFO_NEXT'|trans({
                    '%courselink_start%': '<a href="'~path('post', {'slug': next['slug']})~'">',
                    '%course%': next['titleEn'],
                    '%link_end%': '</a>'})|raw }}
                {% endif %}
              {% endif %}
            {% endif %}
          </content:encoded>
          <category>{{ post.category.nameEn }}</category>
        {% endif %}
        <link>{{ url('post', {'slug': post.slug}) }}</link>
        <guid>{{ url('post', {'slug': post.slug}) }}</guid>
        <pubDate>{{ post.date|date(format='r', timezone='GMT') }}</pubDate>
        <dc:creator><![CDATA[{{ post.author.name }}]]></dc:creator>
      </item>
    {% endfor %}
  </channel>
</rss>
