<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0"
     xmlns:content="http://purl.org/rss/1.0/modules/content/"
     xmlns:atom="http://www.w3.org/2005/Atom"
     xmlns:dc="http://purl.org/dc/elements/1.1/">
  <channel>
    <title>{{ 'TITLE'|trans }}</title>
    <description>{{ 'DESC'|trans }}</description>
    <pubDate>{{ 'now'|date('r', timezone='GMT') }}</pubDate>
    <lastBuildDate>{{ (posts|first).date|default('now')|date('r', timezone='GMT') }}</lastBuildDate>
    <link>{{ url('home') }}</link>
    <atom:link href="{{ url('rss') }}" rel="self" type="application/rss+xml" />
    <language>{{ app.request.locale }}</language>
    {% for post in posts %}
      <item>
        {% if app.request.locale == 'es' and post.titleEs %}
          <title>{{ post.titleEs }}</title>
          <description>{{ post.excerptEs }}</description>
          <content:encoded>
            <![CDATA[<img src="{{ app.request.getSchemeAndHttpHost() ~ asset( '/uploads/' ~ post.image ) }}" alt="{{ post.titleEs }}" />
            {{ post.contentEs|raw|md2html }}
            ]]>
          </content:encoded>
        {% elseif app.request.locale == 'es' and post.titleEn %}
          <title>{{ post.titleEn }}</title>
          <description>{{ post.excerptEn }}</description>
          <content:encoded>
            <![CDATA[{{ 'LANGUAGE_NOT_AVAILABLE'|trans }}
            <img src="{{ app.request.getSchemeAndHttpHost() ~ asset( '/uploads/' ~ post.image ) }}" alt="{{ post.titleEs }}" />
            {{ post.contentEn|raw|md2html }}
            ]]>
          </content:encoded>
        {% endif %}
        {% if app.request.locale == 'en' and post.titleEn %}
          <title>{{ post.titleEn }}</title>
          <description>{{ post.excerptEn }}</description>
          <content:encoded>
            <![CDATA[<img src="{{ app.request.getSchemeAndHttpHost() ~ asset( '/uploads/' ~ post.image ) }}" alt="{{ post.titleEs }}" />
            {{ post.contentEn|raw|md2html }}]]>
          </content:encoded>
        {% elseif app.request.locale == 'en' and post.titleEs %}
          <title>{{ post.titleEs }}</title>
          <description>{{ post.excerptEs }}</description>
          <content:encoded>
            <![CDATA[{{ 'LANGUAGE_NOT_AVAILABLE'|trans }}
            <img src="{{ app.request.getSchemeAndHttpHost() ~ asset( '/uploads/' ~ post.image ) }}" alt="{{ post.titleEs }}" />
            {{ post.contentEs|raw|md2html }}
            ]]>
          </content:encoded>
        {% endif %}
        <link>{{ url('post', {'slug': post.slug}) }}</link>
        <guid>{{ url('post', {'slug': post.slug}) }}</guid>
        <pubDate>{{ post.date|date(format='r', timezone='GMT') }}</pubDate>
        <dc:creator><![CDATA[{{ post.author.name }}]]></dc:creator>
        {% if app.request.locale == 'es' %}
          <category>{{ post.category.nameEs }}</category>
        {% else %}
          <category>{{ post.category.nameEn }}</category>
        {% endif %}
      </item>
    {% endfor %}
  </channel>
</rss>
