{% extends 'base.html.twig' %}

{% block title %}
  {% if app.request.locale == 'en' and post.titleEn %}
    {{ post.titleEn }} — {{ 'TITLE'|trans }}
  {% elseif app.request.locale == 'en' and post.titleEs %}
    {{ post.titleEs }} — {{ 'TITLE'|trans }}
  {% endif %}
  {% if app.request.locale == 'es' and post.titleEs %}
    {{ post.titleEs }} — {{ 'TITLE'|trans }}
  {% elseif app.request.locale == 'es' and post.titleEn %}
    {{ post.titleEn }} — {{ 'TITLE'|trans }}
  {% endif %}
{% endblock %}

{% block meta %}
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@SargantanaCode"/>
  <meta name="twitter:creator" content="@fjpalacios"/>
  <meta property="og:url" content="{{ url('post', {'slug': post.slug }) }}"/>
  <meta property="og:title" content="{{ post.titleEs }} — SargantanaCode"/>
  <meta property="og:site_name" content="SargantanaCode"/>
  <meta property="article:author"
        content="https://www.facebook.com/sargantanacode/"/>
  <meta property="fb:admins" content="826302220"/>
  <meta property="og:description" content="{{ post.excerptEs }}"/>
  <meta property="og:type" content="article"/>
  {% if post.image is not null %}
    <meta property="og:image"
          content="{{ app.request.getSchemeAndHttpHost() ~ asset( '/uploads/' ~ post.image ) }}"/>
  {% else %}
    <meta property="og:image"
          content="{{ app.request.getSchemeAndHttpHost() ~ asset( '/uploads/default.jpg') }}"/>
  {% endif %}
{% endblock %}

{% block body_id "post" %}

{% block body %}
  {% for message in app.session.flashbag().get('status') %}
    <div class="alert alert-info" role="alert">
      {{ message|trans }}
    </div>
  {% endfor %}
  <div class="container mt-5 page">
    <div class="content mb-3">
      {% if post.type == 'post' %}
        <span class="date-badge">
          {{ post.date|date("d/m/Y") }}
        </span>
        <span class="category-badge">
          <a href="{{ path('category', { 'slug': post.category.slug }) }}"
             class="badge-link">
            {% if app.request.locale == 'en' and post.category.nameEn %}
              {{ post.category.nameEn }}
            {% elseif app.request.locale == 'en' and post.titleEs %}
              {{ post.category.nameEs }}
            {% endif %}
            {% if app.request.locale == 'es' and post.category.nameEs %}
              {{ post.category.nameEs }}
            {% elseif app.request.locale == 'es' and post.category.nameEn %}
              {{ post.category.nameEn }}
            {% endif %}
          </a>
        </span>
        {% if post.image is not null %}
          <img src="{{ asset( 'uploads/' ~ post.image ) }}"
               alt="{{ post.titleEs }}"
               class="post-header">
        {% endif %}
      {% endif %}
      <h2 class="post-title">
        {% if app.request.locale == 'en' and post.titleEn %}
          {{ post.titleEn }}
        {% elseif app.request.locale == 'en' and post.titleEs %}
          {{ post.titleEs }}
        {% endif %}
        {% if app.request.locale == 'es' and post.titleEs %}
          {{ post.titleEs }}
        {% elseif app.request.locale == 'es' and post.titleEn %}
          {{ post.titleEn }}
        {% endif %}
      </h2>
      <div class="post-body">
        {% if app.request.locale == 'en' and not post.titleEn or
        app.request.locale == 'es' and not post.titleEs %}
          <div class="alert alert-danger" role="alert">
            {{ 'LANGUAGE_NOT_AVAILABLE'|trans }}
          </div>
        {% endif %}
        {% if app.request.locale == 'en' and post.titleEn %}
          {{ post.contentEn|raw|md2html }}
        {% elseif app.request.locale == 'en' and post.titleEs %}
          {{ post.contentEs|raw|md2html }}
        {% endif %}
        {% if app.request.locale == 'es' and post.titleEs %}
          {{ post.contentEs|raw|md2html }}
        {% elseif app.request.locale == 'es' and post.titleEn %}
          {{ post.contentEn|raw|md2html }}
        {% endif %}
      </div>
    </div>
    {% if post.type == 'post' %}
      <div class="social mb-3">
        <ul class="social__list">
          <li>
            <a
              href="https://twitter.com/intent/tweet?url={{ url('post', {'slug': post.slug }) }}&text={{ post.titleEs }}&via=SargantanaCode"
              target="_blank" class="social-btn social-btn--twitter"
              onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600')return false">
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="javascript: void(0);"
               onclick="javascript:window.open('https://www.facebook.com/sharer.php?u={{ url('post', {'slug': post.slug }) }}&t={{ post.titleEs }}','ventanacompartir', 'toolbar=0, status=0, width=650, height=450')"
               target="_blank" class="social-btn social-btn--facebook">
              <i class="fa fa-facebook-square" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="mailto:?subject={{ post.titleEs }}&body={{ post.titleEs }} en SargantanaCode: {{ url('post', {'slug': post.slug }) }}" class="social-btn">
              <i class="fa fa-envelope-square" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    {% endif %}
    {% if user.bio is defined and post.type != 'page' %}
      {% include('/public/_user-profile.html.twig') %}
    {% endif %}
    {% if comments is defined %}
      <div class="mt-5" id="comments">
        <h2 class="text-center mb-4">
          {{ 'COMMENTS_LIST_TITLE'|trans }}
        </h2>
        {% include('public/_comments.html.twig') %}
      </div>
    {% endif %}
    {% if comments is defined and post.commentStatus == 'open' %}
      {% include('public/_comment-form.html.twig') %}
    {% endif %}
  </div>
{% endblock %}
