{% extends 'base.html.twig' %}

{% block title %}
  {% if app.request.locale == 'es'%}
    {{ post.titleEs }} — {{ 'TITLE'|trans }}
  {% else %}
    {{ post.titleEn }} — {{ 'TITLE'|trans }}
  {% endif %}
{% endblock %}

{% block meta %}
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@SargantanaCode"/>
  <meta name="twitter:creator" content="@fjpalacios"/>
  <meta property="og:url" content="{{ url('post', {'slug': post.slug }) }}"/>
  {% if app.request.locale == 'es' %}
    <meta property="og:title" content="{{ post.titleEs }} — SargantanaCode"/>
    <meta property="og:description" content="{{ post.excerptEs }}"/>
    <meta name="description" content="{{ post.excerptEs }}"/>
  {% else %}
    <meta property="og:title" content="{{ post.titleEn }} — SargantanaCode"/>
    <meta property="og:description" content="{{ post.excerptEn }}"/>
    <meta name="description" content="{{ post.excerptEn }}"/>
  {% endif %}
  <meta property="og:site_name" content="SargantanaCode"/>
  <meta property="article:author"
        content="https://www.facebook.com/sargantanacode/"/>
  <meta property="fb:admins" content="826302220"/>
  <meta property="og:type" content="article"/>
  {% if post.image is not null %}
    <meta property="og:image"
          content="{{ app.request.getSchemeAndHttpHost() ~ asset( '/uploads/' ~ post.image ) }}"/>
  {% else %}
    <meta property="og:image"
          content="{{ app.request.getSchemeAndHttpHost() ~ asset( '/uploads/default.jpg') }}"/>
  {% endif %}
{% endblock %}

{% block body_id "post" %}

{% block body %}
  {% for message in app.session.flashbag().get('status') %}
    <div class="alert alert-info" role="alert">
      {{ message|trans }}
    </div>
  {% endfor %}
  <div class="container mt-5 page">
    <div class="content mb-3">
      {% if post.type == 'post' %}
        <span class="date-badge">
          {{ post.date|date("d/m/Y") }}
        </span>
        <span class="category-badge">
          <a href="{{ path('category', { 'slug': post.category.slug }) }}"
             class="badge-link">
            {% if app.request.locale == 'es' %}
              {{ post.category.nameEs }}
            {% else %}
              {{ post.category.nameEn }}
            {% endif %}
          </a>
        </span>
        {% if post.image is not null %}
          {% if app.request.locale == 'es' %}
            <img src="{{ asset( 'uploads/' ~ post.image ) }}"
                 alt="{{ post.titleEs }}"
                 class="post-header">
          {% else %}
            <img src="{{ asset( 'uploads/' ~ post.image ) }}"
                 alt="{{ post.titleEn }}"
                 class="post-header">
          {% endif %}
        {% endif %}
      {% endif %}
      <h2 class="post-title">
        {% if app.request.locale == 'es' %}
          {{ post.titleEs }}
        {% else %}
          {{ post.titleEn }}
        {% endif %}
      </h2>
      <div class="post-body">
        {% if app.request.locale == 'es' %}
          {{ post.contentEs|raw|md2html }}
        {% else %}
          {{ post.contentEn|raw|md2html }}
        {% endif %}
        {% if post.course %}
          {% set previous = course_previous(post.id, post.course) %}
          {% set next = course_next(post.id, post.course) %}
          {% if previous or next %}
            <h3>{{ 'COURSE_HEADER'|trans }}</h3>
            {{ 'COURSE_INFO'|trans({
              '%courselink_start%': '<a href="'~path('course', {'slug': course_slug(post.course)})~'">',
              '%course%': course_name(post.course, app.request.locale),
              '%link_end%': '</a>'})|raw }}
            {% if previous and next %}
              {{ 'COURSE_INFO_PREVIOUS_NEXT'|trans({
                '%previouslink_start%': '<a href="'~path('post', {'slug': previous['slug']})~'">',
                '%nextlink_start%': '<a href="'~path('post', {'slug': next['slug']})~'">',
                '%previouscourse%': (app.request.locale == 'es' ? previous['titleEs'] : previous ['titleEn']),
                '%nextcourse%': (app.request.locale == 'es' ? next['titleEs'] : next ['titleEn']),
                '%link_end%': '</a>'})|raw }}
            {% elseif previous and not next %}
              {{ 'COURSE_INFO_PREVIOUS'|trans({
                '%courselink_start%': '<a href="'~path('post', {'slug': previous['slug']})~'">',
                '%course%': (app.request.locale == 'es' ? previous['titleEs'] : previous ['titleEn']),
                '%link_end%': '</a>'})|raw }}
            {% else %}
              {{ 'COURSE_INFO_NEXT'|trans({
                '%courselink_start%': '<a href="'~path('post', {'slug': next['slug']})~'">',
                '%course%': (app.request.locale == 'es' ? next['titleEs'] : next ['titleEn']),
                '%link_end%': '</a>'})|raw }}
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
    </div>
    {% if post.type == 'post' %}
      <div class="social mb-3">
        {% if app.request.locale == 'es' %}
          <ul class="social__list">
            <li>
              <a
                href="https://twitter.com/intent/tweet?url={{ url('post', {'slug': post.slug }) }}&text={{ post.titleEs }}&via=SargantanaCode"
                target="_blank" class="social-btn social-btn--twitter"
                onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600')return false">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="javascript: void(0);"
                 onclick="javascript:window.open('https://www.facebook.com/sharer.php?u={{ url('post', {'slug': post.slug }) }}&t={{ post.titleEs }}','ventanacompartir', 'toolbar=0, status=0, width=650, height=450')"
                 target="_blank" class="social-btn social-btn--facebook">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a
                href="mailto:?subject={{ post.titleEs }}&body={{ post.titleEs }} en SargantanaCode: {{ url('post', {'slug': post.slug }) }}"
                class="social-btn">
                <i class="fa fa-envelope-square" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        {% else %}
          <ul class="social__list">
            <li>
              <a
                href="https://twitter.com/intent/tweet?url={{ url('post', {'slug': post.slug }) }}&text={{ post.titleEn }}&via=SargantanaCode"
                target="_blank" class="social-btn social-btn--twitter"
                onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600')return false">
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="javascript: void(0);"
                 onclick="javascript:window.open('https://www.facebook.com/sharer.php?u={{ url('post', {'slug': post.slug }) }}&t={{ post.titleEn }}','ventanacompartir', 'toolbar=0, status=0, width=650, height=450')"
                 target="_blank" class="social-btn social-btn--facebook">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a
                href="mailto:?subject={{ post.titleEn }}&body={{ post.titleEn }} en SargantanaCode: {{ url('post', {'slug': post.slug }) }}"
                class="social-btn">
                <i class="fa fa-envelope-square" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        {% endif %}
      </div>
    {% endif %}
    {% if user.bio is defined and post.type != 'page' %}
      {% include('/public/_user-profile.html.twig') %}
    {% endif %}
    {% if comments is defined %}
      <div class="mt-5" id="comments">
        <h2 class="text-center mb-4">
          {{ 'COMMENTS_LIST_TITLE'|trans }}
        </h2>
        {% include('public/_comments.html.twig') %}
      </div>
    {% endif %}
    {% if comments is defined and post.commentStatus == 'open' %}
      {% include('public/_comment-form.html.twig') %}
    {% endif %}
  </div>
{% endblock %}
