{% extends 'base.html.twig' %}

{% block title %}
  {% if app.request.locale == 'en' and post.titleEn %}
    {{ post.titleEn }} — SargantanaCode
  {% elseif app.request.locale == 'en' and post.titleEs %}
    {{ post.titleEs }} — SargantanaCode
  {% endif %}
  {% if app.request.locale == 'es' and post.titleEs %}
    {{ post.titleEs }} — SargantanaCode
  {% elseif app.request.locale == 'es' and post.titleEn %}
    {{ post.titleEn }} — SargantanaCode
  {% endif %}
{% endblock %}

{% block body_id "post" %}

{% block body %}
  {% for message in app.session.flashbag().get('status') %}
    <div class="alert alert-info" role="alert">
      {{ message|trans }}
    </div>
  {% endfor %}
  <div class="container mt-5 page">
    <div class="content mb-4">
      {% if post.type == 'post' %}
        <span class="date-badge">
          {{ post.date|date("d/m/Y") }}
        </span>
        <span class="category-badge">
          <a href="{{ path('category', { 'slug': post.category.slug }) }}"
             class="badge-link">
          {{ post.category.name }}
          </a>
        </span>
        {% if post.image is not null %}
          <img src="{{ asset( 'uploads/' ~ post.image ) }}"
               alt="{{ post.titleEs }}"
               class="post-header">
        {% endif %}
      {% endif %}
      <h2 class="post-title">
        {% if app.request.locale == 'en' and post.titleEn %}
          {{ post.titleEn }}
        {% elseif app.request.locale == 'en' and post.titleEs %}
          {{ post.titleEs }}
        {% endif %}
        {% if app.request.locale == 'es' and post.titleEs %}
          {{ post.titleEs }}
        {% elseif app.request.locale == 'es' and post.titleEn %}
          {{ post.titleEn }}
        {% endif %}
      </h2>
      <div class="post-body">
        {% if app.request.locale == 'en' and not post.titleEn or
        app.request.locale == 'es' and not post.titleEs %}
          <div class="alert alert-danger" role="alert">
            {{ 'LANGUAGE_NOT_AVAILABLE'|trans }}
          </div>
        {% endif %}
        {% if app.request.locale == 'en' and post.titleEn %}
          {{ post.contentEn|raw|md2html }}
        {% elseif app.request.locale == 'en' and post.titleEs %}
          {{ post.contentEs|raw|md2html }}
        {% endif %}
        {% if app.request.locale == 'es' and post.titleEs %}
          {{ post.contentEs|raw|md2html }}
        {% elseif app.request.locale == 'es' and post.titleEn %}
          {{ post.contentEn|raw|md2html }}
        {% endif %}
      </div>
    </div>
    {% if user.bio is defined and post.type != 'page' %}
      {% include('/public/_user-profile.html.twig') %}
    {% endif %}
    {% if comments is defined %}
      <div class="mt-5" id="comments">
        <h2 class="text-center mb-4">
          {{ 'COMMENTS_LIST_TITLE'|trans }}
        </h2>
        {% include('public/_comments.html.twig') %}
      </div>
    {% endif %}
    {% if comments is defined and post.commentStatus == 'open' %}
      {% include('public/_comment-form.html.twig') %}
    {% endif %}
  </div>
{% endblock %}
