{% extends 'base.html.twig' %}

{% block title %}
  {% if app.request.locale == 'en' and post.titleEn %}
    {{ post.titleEn }} — SargantanaCode
  {% elseif app.request.locale == 'en' and post.titleEs %}
    {{ post.titleEs }} — SargantanaCode
  {% endif %}
  {% if app.request.locale == 'es' and post.titleEs %}
    {{ post.titleEs }} — SargantanaCode
  {% elseif app.request.locale == 'es' and post.titleEn %}
    {{ post.titleEn }} — SargantanaCode
  {% endif %}
{% endblock %}

{% block body_id "post" %}

{% block body %}
  <div class="container mt-5 page">
    <div class="content mb-4">
      {% if post.type == 'post' %}
        <span class="date-badge">
          {{ post.date|date("d/m/Y") }}
        </span>
        <span class="category-badge">
          <a href="{{ path('category', { 'slug': post.category.slug }) }}"
             class="badge-link">
          {{ post.category.name }}
          </a>
        </span>
        <img src="{{ asset('images/test-image.jpg') }}" alt=""
             class="post-header">
      {% endif %}
      <h2 class="post-title">
        {% if app.request.locale == 'en' and post.titleEn %}
          {{ post.titleEn }}
        {% elseif app.request.locale == 'en' and post.titleEs %}
          {{ post.titleEs }}
        {% endif %}
        {% if app.request.locale == 'es' and post.titleEs %}
          {{ post.titleEs }}
        {% elseif app.request.locale == 'es' and post.titleEn %}
          {{ post.titleEn }}
        {% endif %}
      </h2>
      <div class="post-body">
        {% if app.request.locale == 'en' and not post.titleEn or
        app.request.locale == 'es' and not post.titleEs %}
          <div class="alert alert-danger" role="alert">
            {{ 'LANGUAGE_NOT_AVAILABLE'|trans }}
          </div>
        {% endif %}
        {% if app.request.locale == 'en' and post.titleEn %}
          {{ post.contentEn|raw|md2html }}
        {% elseif app.request.locale == 'en' and post.titleEs %}
          {{ post.contentEs|raw|md2html }}
        {% endif %}
        {% if app.request.locale == 'es' and post.titleEs %}
          {{ post.contentEs|raw|md2html }}
        {% elseif app.request.locale == 'es' and post.titleEn %}
          {{ post.contentEn|raw|md2html }}
        {% endif %}
      </div>
    </div>
    {% if user.bio and post.type != 'page' %}
      {% include('/public/_user-profile.html.twig') %}
    {% endif %}
  </div>
{% endblock %}
