{% extends 'base.html.twig' %}

{% block body_id "post" %}

{% block body %}
    <div class="container mt-5 page">
        <h2>
            {% if app.request.locale == 'en' and post.titleEn %}
                {{ post.titleEn }}
            {% elseif app.request.locale == 'en' and post.titleEs %}
                {{ post.titleEs }}
            {% elseif app.request.locale == 'es' and post.titleEs %}
                {{ post.titleEs }}
            {% elseif app.request.locale == 'es' and post.titleEn %}
                {{ post.titleEn }}
            {% endif %}
        </h2>
        <div class="content">
            {% if app.request.locale == 'en' and not post.titleEn or
            app.request.locale == 'es' and not post.titleEs %}
                <div class="alert alert-danger" role="alert">
                    {{ 'LANGUAGE_NOT_AVAILABLE'|trans }}
                </div>
            {% endif %}
            {% if app.request.locale == 'en' and post.titleEn %}
                {{ post.contentEn|raw|md2html }}
            {% elseif app.request.locale == 'en' and post.titleEs %}
                {{ post.contentEs|raw|md2html }}
            {% elseif app.request.locale == 'es' and post.titleEs %}
                {{ post.contentEs|raw|md2html }}
            {% elseif app.request.locale == 'es' and post.titleEn %}
                {{ post.contentEn|raw|md2html }}
            {% endif %}
        </div>
        {% if author.bio %}
            <div class="content mt-4 author">
                <div class="author__avatar">
                    <img src="{{ gravatar( author.email ) }}"
                         alt="{{ author.name }}"/>
                </div>
                <div class="author__bio">
                    <h2>{{ author.name }}</h2>
                    {{ author.bio|raw|md2html }}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
