{% extends 'base.html.twig' %}

{% block title %}
  {{ 'TEAM_TITLE'|trans }} — {{ 'TITLE'|trans }}
{% endblock %}

{% block meta %}
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@SargantanaCode"/>
  <meta name="twitter:creator" content="@fjpalacios"/>
  <meta property="og:url" content="{{ url('team') }}"/>
  <meta property="og:title"
        content="{{ 'TEAM_TITLE'|trans }} — SargantanaCode"/>
  <meta property="og:site_name" content="SargantanaCode"/>
  <meta property="article:author"
        content="https://www.facebook.com/sargantanacode/"/>
  <meta property="fb:admins" content="826302220"/>
  <meta property="og:description" content="{{ 'TEAM_EXCERPT'|trans }}"/>
  <meta name="description" content="{{ 'TEAM_EXCERPT'|trans }}"/>
  <meta property="og:type" content="article"/>
  <meta property="og:image"
        content="{{ app.request.getSchemeAndHttpHost() ~ asset( '/uploads/default.jpg') }}"/>
{% endblock %}

{% block body_id "team" %}

{% block body %}
  <div class="container page mt-5">
    <div class="row">
      {% for user in users %}
        {% include('public/_team-list.html.twig') %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
